.calculator-component {
    h1, h2 {
        span {
            font-size: 3em;
            &.total-days {
                color: red;
            }
            &.working-days {
                color: green;
            }
        }
    }
}