// calculator display section
.calculator-component {
    h2 {
        display: block;
        font-size: 4rem;
        span {
            font-size: 5rem;
            &.total-days {
                color: red;
            }
            &.working-days {
                color: green;
            }
        }
    }
    .calculator-box {
        float: right;
        position: relative;
        .display-days {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 2.5rem;
            span{
                font-size: 3rem;
            }   
        }
    }
    @media (max-width: 992px) {
        .calculator-box {
            float: none;
        }
    }
}
// pie chart
.pie-component {
    margin: 30px auto;

    // chart
    canvas {
        max-width: 90vw;
        max-height: 90vw;
    }
}