.dates-component .date-inputs-box {
  display: inline-block;
  margin: 0 30px; }

.dates-component label {
  display: block;
  margin: 20px auto; }

.dates-component input {
  display: block;
  margin: 1px auto;
  color: black; }
