.dates-component {
    label {
        display: block;
        margin: 20px auto;
    }
    input {
        display: block;
        margin: 5px auto;
        color: black;
    }

    // datepicker overrides
    .DayPicker {
        .DayPicker-Day {    
            padding: 1.25rem 1rem 1rem;
            
            &--today {
                color:#3459c9;
                &:hover {
                    color:#fff;
                }
            }
            &--selected, &:hover {
                background-color: #3459c9 !important;
                border-radius: 5px !important;
            }
        }   
        .DayPicker-Caption {
            div {
                font-size: 2rem;
            }
            select {
                color: #000;
                padding: 5px;
            }
        }
    
        // mobile
        @media (max-width:767px) {

        }
    }
}

