// date input fields
.dates-component {
    // inputs container
    .date-inputs-box {
        display: inline-block;
        margin: 0 30px;
    }
    label {
        display: block;
        margin: 20px auto;
    }
    input {
        display: block;
        margin: 1px auto;
        color: black;
    }

}

